.departments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}
.container {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 12px;
  width: 350px;
  height: 85vh;
  margin: auto;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  background-color: #6c63ff;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 12px;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.buttons {
  padding: 0 20px 15px 20px;
  overflow-y: auto;
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons::-webkit-scrollbar {
  width: 6px;
}
.buttons::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}
.buttons::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.dept-button {
  background-color: #d3d3d3;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: 100%;
}

.dept-button:hover {
  background-color: #c0c0c0;
}
