.container {
  font-family: Arial, sans-serif;
  background-color: #ffffffee; /* slight transparency to see background */
  border-radius: 12px;
  width: 350px;
  height: 85vh;
  margin: auto;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.header {
  background-color: #3b34ba;
  color: #fff;
  padding: 20px 0;
  font-size: 22px;
  border-radius: 10px 10px 0 0;
  margin: 0 auto;
  width: 100%;
}

.year-button {
  display: block;
  margin: 20px auto;
  padding: 12px;
  width: 250px;
  background-color: #e0e0e0;
  color: black; /* Ensure year text is black */
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.year-button:hover {
  background-color: #d5d5d5;
}
